Unity Project/Temp/
Unity Project/Library/
Unity Project/obj/
Unity Project/.vs/
*.unityproj
*.csproj
*.sln
*.userprefs
Unity Project/ProjectSettings/ProjectVersion.txt
Unity Project/ProjectSettings/ProjectVersion.txt
Unity Project/ProjectSettings/ProjectVersion.txt